    /* Style the body */
    body {
        font-family: 'Times New Roman', Times, serif;
        margin: 0;
      }
      
      /* Header/Logo Title */
      header {
        padding-top: 15px;
        padding-bottom: 15px;
        background: maroon;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .logo {
        margin-right: 10px;
  }
    .logo img{
        width: 100px;
        height: auto;
        border-radius: 50%;
    }
    .index-header {
      font-family: 'Times New Roman', Times, serif;
      font-size: 50px;
      
    }
    .login-section {
      margin-top: 40px;
      padding: 20px;
      background-color: maroon;
      border-radius: 10px;
      
    }
    
    .login-section h2 {
      font-size: 20px;
      margin: 0 auto;
      background-color: #E8F1D4;
      border-radius: 10px;
      text-align: center;
      padding: 20px;
      max-width: 800px;
    }
    
    form {
      display: inline-block;
      flex-direction: column;
      text-align: left;

    }
    
    label {
      margin-bottom: 5px;
    }
    
    input[type="text"],
    input[type="password"] {
      padding: 5px;
      width: 100%;
      text-align: center;
    }
    
    input[type="submit"] {
      background-color: #357EC7;
      color: white;
      border: none;
      padding: 8px 16px;
      cursor: pointer;
      border-radius: 4px;
    }
    .center-terms .terms {
      text-align: center;
      color: white;
      font-size: small;
      font-family: 'Times New Roman', Times, serif;

    }
    .Submit-button{
      text-align: center;
    }
    .Steps{
      text-align: center;
      color: white;
      font-size: small;
      font-family: 'Times New Roman', Times, serif;
    }
    .container {
      margin-top: 50px;
    }
    .mission .index-2 {
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
    }
     .index-1{
      margin-top: 50px;
      padding-bottom: 10px;
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
      text-align: center;
      white-space: nowrap;
    }
    .welcome-1 .School-Img {
      max-width: 320px;
      border-radius: 10px;
      float: left;
      margin-top: 40px;
      border: 3px solid black;
      margin-right: 20px;
    }
    .index-3{
      font-size: 15px;
      font-style: oblique;
      white-space: nowrap;
    }
    .welcome-1{
      margin: 0 auto;
      margin-left: 20px;
    }
    .index-4{
      font-size: small;
      white-space: nowrap;
    }